* {
  font-family: Arial;
}

.tweet {
  display: flex;
  flex-direction: row;
  width: 420px;
  margin-top: 10px;
  margin-left: 20px;
}

.image-section {
  margin-right: 10px;
}

.profile-pic {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 30px;

}

.text-section {
  flex: 1;
}

.user-handle-grid {
  display: flex;
  flex-direction: row;
  margin-bottom: 3px;
}

.user {
  font-weight: bold;
  margin-right: 5px;
}

.handle {
  color: rgb(120, 120, 120);
}

.content {
  line-height: 20px;
  margin-bottom: 15px;
}

.video {
  display: flex;
  flex-direction: row;
  border: solid;
  border-color: rgb(220, 220, 220);
  border-radius: 15px;
  border-width: 2px;
  overflow: hidden;
  align-items: center;
}

.grey-box {
  width: 100px;
  height: 100px;
  background-color: rgb(220, 220, 220);
  margin-right: 10px;
}

.video-info-column {
  flex: 1;
}

.video-website {
  color: rgb(111, 111, 111);
  margin-bottom: 3px;
}

.video-title {
  line-height: 22px;
}